*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(48, 26, 26);
    justify-content: center;
    height: 100vh;
    background-color: rgba(151, 144, 134, 0.445);  
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(75, 70, 65, 0.87);
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(78, 78, 65);
}

fieldset{
      border: 3px solid rgb(90, 73, 73);
}
.requisitos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   
}

.formulario{
    margin: 20px;
}

.dados{
    padding: 5px;
}

input.dates {
    display: block;
    border: none;
    width: 80%;
    border-radius: 5px;
}
